    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <script   src="https://code.jquery.com/jquery-3.3.1.min.js"   
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   
        crossorigin="anonymous">
    </script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link 
        rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" 
        crossorigin="anonymous"
    />
    



<script type="text/javascript">


     $(document).ready(function () {

         var table = $('#example').DataTable({
             "data": testdata.data,
             "scrollX": true,
             select:"single",
             "columns": [
                 {
                     "className": 'details-control',
                     "orderable": false,
                     "data": null,
                     "defaultContent": '',
                     "render": function () {
                         return '<i class="fas fa-plus-square" aria-hidden="true"></i>';
                     },
                     'width':"15px"
                 },
                 { 
                    "title": 'ID',
                    "data": "id"
                    
                 },
                { 
                    'title': 'Mentor',
                    "data": "mentor_user_id" 
                },
                { 
                    'title': 'Mentee',
                    "data": "mentee_user_id" 
                },
                { 
                    'title':'Created',
                   "data": "date_created" 
                },
                { 
                    'title': 'Accept',
                    "data": "is_confirmed" 
                },  
                { 
                    'title': 'Date',
                    "data": "date_confirmed" 
                },      
                
                { 
                    'title': 'Complete',
                    "data": "is_completed" 
                 },      
                { 
                    "title": 'Date',
                    "data": "date_completed"
                    
                 }, 
                                  
                 { 
                    'title': 'Denied',
                    "data": "is_denied" 
                 },      
                 { 
                    "title": 'Date',
                    "data": "date_denied"
                    
                 }                                    
                 
                 
             ],
             "order": [[4, 'desc']],
             "pageLength": 100
         });

         // Add event listener for opening and closing details
         $('#example tbody').on('click', 'td.details-control', function () {
             var tr = $(this).closest('tr');
             var tdi = tr.find("i.fas");
             var row = table.row(tr);

             if (row.child.isShown()) {
                 // This row is already open - close it
                 row.child.hide();
                 tr.removeClass('shown');
                 tdi.first().removeClass('fa-minus-square');
                 tdi.first().addClass('fa-plus-square');
             }
             else {
                 // Open this row
                 row.child(format(row.data())).show();
                 tr.addClass('shown');
                 tdi.first().removeClass('fa-plus-square');
                 tdi.first().addClass('fa-minus-square');
             }
         });

         table.on("user-select", function (e, dt, type, cell, originalEvent) {
             if ($(cell.node()).hasClass("details-control")) {
                 e.preventDefault();
             }
         });
     });

    function format(d){
        
         // `d` is the original data object for the row
         return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
             '<tr>' +
                 '<td><a href="/engagements/?action=new&tu=' + encodeURIComponent(d.mentor_user_id) +'&mentee_user=' + encodeURIComponent(d.mentee_user_id) + '&force=1&id=' + d.id +'"><i class="fas fa-envelope"></i> Resend request email</a></td>' +
                 '<td></td>' +
             '</tr>' +
             '<tr>' +
                 '<td><a href="/engagements/?action=accept&mid=' + d.id  + '&tu=' + encodeURIComponent(d.mentor_user_id) +'&mentee_user=' + encodeURIComponent(d.mentee_user_id) + '&force=1"><i class="fas fa-envelope"></i> Resend acceptance email</a></td>' +
                 '<td></td>' +
             '</tr>' +             
             '<tr>' +
                 '<td><a href="?page=mvc_engagements&id=' + d.id +'&action=delete" ><i class="fas fa-trash"></i> Delete</a></td>' +
                 '<td></td>' +
             '</tr>' +
             '<tr>' +
                 '<td></td>' +
                 '<td></td>' +
             '</tr>' +
         '</table>';  
    }

    var testdata = {
    "data": 
        <?= $this->_getJSON(); ?>
    
    };
</script>


<h2>Mentorships</h2>
<div class="container example" style='margin-right:15px'>
    <table 
        id="example" 
        cellpadding="0" 
        cellspacing="0" 
        border="0" 
        class="dataTable table table-striped display nowrap" 
        style="width:100%;"
    >

  </table>
</div>