<div class="alert alert-gray" style="display:inline-block;">
    <form class="form-inline" action="<?= $_SERVER['PHP_SELF'] ?>" method="GET" name="form" id="showReportForm"> 
        <fieldset>
            <input type="hidden" name="action" value="show_report" />
            <input type="hidden" name="report_id" value="<?= $this->report_id ?>" /><?
            if(!is_array($this->chapter_id)) {
                ?><input type="hidden" name="chapter_id" value="<?= $this->chapter_id ?>" /><?
            }
            ?>Display Rows: <input type="text" name="rows" id="rows" value="<?= $this->rows ?>" size="1" /> 
            <?= $this->chooseView($this->_default_view); ?>
            <?php if(!$this->hideChapterSelect) { ?>
                <? $ct->showMultiple($this->chapter_id,array("chapter_archived"=>$chapter_archived)); ?>
            <? } ?>
            <input type="submit" id="filterReport" class="btn" value="Customize">
        </fieldset>
    </form>
</div>